<h1>Listing good_questions</h1>

<table>
  <tr>
    <th>Question</th>
    <th>Why</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @good_questions.each do |good_question| %>
  <tr>
    <td><%= good_question.question %></td>
    <td><%= good_question.why %></td>
    <td><%= link_to 'Show', good_question %></td>
    <td><%= link_to 'Edit', edit_good_question_path(good_question) %></td>
    <td><%= link_to 'Destroy', good_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Good question', new_good_question_path %>
